{% extends "base.html" %}
{% block title %}Home
{% endblock title %}
{% block body %}

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1663904458920-f153c162fa79?q=80&w=600&h=200&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D

" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5><b>Welcome to the best Ice Creams of Indore<b></h5>
              <p><b>“Ice cream is always a good idea.”<b></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://plus.unsplash.com/premium_photo-1678198786424-c2cc6593f59c?q=80&w=600&h=200&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D

" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5><b>We serve love with Ice creams<b></h5>
              <p>“Life is better with sprinkles on top.”</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://plus.unsplash.com/premium_photo-1713895023518-37596f5e8c5e?q=80&w=600&h=200&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D

" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>“Cone-fession: I’m addicted.”</h5>
              <p>“Every scoop is a smile waiting to happen.”</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container my-3">
    <h1 class="my-4 text-center">Select from our range of Ice Creams</h1>


    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
           <img src="https://plus.unsplash.com/premium_photo-1674819647276-c93c08795554?q=80&w=1200&h=900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
">
          <div class="card-body">
            <p class="card-text">Chocolate ice cream with sprinkled gold.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">$25</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images.unsplash.com/photo-1570197788417-0e82375c9371?q=80&w=1200&h=900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
">
          <div class="card-body">
            <p class="card-text">Vanilla flavoured balls</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">$20</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images.unsplash.com/photo-1618485476424-7dc9cd512c08?q=80&w=1200&h=900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
">
          <div class="card-body">
            <p class="card-text">Strawberry Ice Cream</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">$30</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images.unsplash.com/photo-1686948927872-af1042ff16dc?q=80&w=1200&h=900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
">
          <div class="card-body">
            <p class="card-text">Blueberry cups</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">419</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
         <img src="https://images.unsplash.com/photo-1535578562878-4ff2b50d3e42?w=1200&h=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29jb251dCUyMGljZSUyMGNyZWFtfGVufDB8fDB8fHww
">
          <div class="card-body">
            <p class="card-text">Coconut pudding</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">$9</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1591677445540-08028eeb3021?w=1200&h=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFuZ28lMjBpY2UlMjBjcmVhbXxlbnwwfHwwfHx8MA%3D%3D
">
          <div class="card-body">
            <p class="card-text">Mango Ice Cream</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">$15</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1708782343454-5d66dda6e107?q=80&w=1200&h=900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
">
          <div class="card-body">
            <p class="card-text">Mixed flavour ice cream.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">$20</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
            <img src="https://images.unsplash.com/photo-1634585648796-fd967882735d?q=80&w=1200&h=900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
">
          <div class="card-body">
            <p class="card-text">spring rolls</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">$40</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images.unsplash.com/photo-1583549323041-a558fa2fda81?q=80&w=1200&h=900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
">
          <div class="card-body">
            <p class="card-text">Belgian Chocolate.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Add to cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <small class="text-body-secondary">$25</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
