{% extends "base.html" %}
{% block title %}Services
{% endblock title %}
{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-4">Our Services</h2>
    <div class="row text-center">
      
      <div class="col-md-4">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <img src="https://cdn-icons-png.flaticon.com/512/3075/3075977.png" class="card-img-top w-50 mx-auto my-3" alt="Home Delivery">
          <div class="card-body">
            <h5 class="card-title">Home Delivery</h5>
            <p class="card-text">Get your favorite ice cream delivered straight to your door, cold and delicious!</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <img src="https://cdn-icons-png.flaticon.com/512/2944/2944363.png" class="card-img-top w-50 mx-auto my-3" alt="Custom Orders">
          <div class="card-body">
            <h5 class="card-title">Custom Orders</h5>
            <p class="card-text">Planning a party? We create custom ice cream tubs and flavors for your events!</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <img src="https://cdn-icons-png.flaticon.com/512/3649/3649464.png" class="card-img-top w-50 mx-auto my-3" alt="Catering">
          <div class="card-body">
            <h5 class="card-title">Ice Cream Catering</h5>
            <p class="card-text">Hire our ice cream truck or counter for weddings, birthdays, and corporate events.</p>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
  
{% endblock body %}